.example-0 .button {
    margin: auto;
}

.example-1 .button:nth-child(2) {
    margin-right: 10px;
}

.example-1 .button:nth-child(3) {
    margin-left: auto;
}

.example-2 .text-input {
    max-width: 400px;
    flex-grow: 1;
}

.example-2 .buttons-wrap {
    display: flex;
    max-width: 50%;
    overflow: hidden;
    margin-left: auto;
}

.example-3 .left {
    flex-basis: 300px;
    flex-shrink: 0;
}

.example-4 .text-box {
    flex-basis: 50%;
    flex-grow: 1;
}

.example-4 .left {
    min-width: 350px;
}

.example-4 .right {
    max-width: 500px;
}

.example-5 .left,
.example-5 .right {
    /*min-width: 250px;*/
    /*max-width: 450px;*/
}

.example-5 .right {
    /*margin-left: auto;*/
}
