body {
    margin: 0;
}

table {
    border-collapse: collapse;
    border: 3px solid green;
    text-align: left;
    font-size: 22px;
}

td, th {
    border: 1px solid green;
}


th {
    position: sticky;
    background: white;
    top:0;
}








table {
    width: 100%;
}

 th:nth-child(1), td:nth-child(1) {
    width: 300px;
}
 th:nth-child(2), td:nth-child(2) {
    width: 300px;
}
 th:nth-child(3), td:nth-child(3) {
    width: 300px;
}
