body {
    font-size: 40px;
    color: red;
}

.target-class {
    background-color: green;
    transition: background-color 0s 10s ease;
}

div.target-class {
    background-color: green;
    transition: background-color 0s 10s ease;
}

#target-class {
    background-color: green;
    transition: background-color 0s 10s ease;
}


#target-class {
    background-color: green;
    transition: background-color 0s 10s ease;
}