@font-face {
    font-family: 'Awesome Font';
    font-style: normal;
    font-weight: 400;
    src: local('Awesome Font'),
    url('/fonts/awesome.woff2') format('woff2'),
    url('/fonts/awesome.woff') format('woff'),
    url('/fonts/awesome.ttf') format('ttf'),
    url('/fonts/awesome.eot') format('eot');
}

/* 1 */
body {
    font: 14px/17px 'Open Sans', Secondary, 'e.t.c.',  sans-serif;
}

/* 2 */
body {
    font: 1rem/1.2rem 'Open Sans', Secondary, 'e.t.c.',  sans-serif;
}

/* 3 */
body {
    font: 1rem/1.2 'Open Sans', Secondary, 'e.t.c.',  sans-serif;
}

/* 3 */
body {
    font: 14px/1.2 'Open Sans', Secondary, 'e.t.c.',  sans-serif;
}